/* .spacing-top {
    padding-top: var(--spacing, 24px);
}
 */
/*

.full-line {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-top: 1px solid #d3d8db; 
    padding-bottom: var(--spacing,12px); 
    padding-bottom: var(--spacing,12px); 
} */